@import url('style.css');
.container{
    background: var(--btn_white);
    border-radius: 5px;
    align-items: none;
    text-align: left;
    position: absolute;
    display: grid;
    width: 80%;
    margin-left: 10vw;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    bottom: 6rem;
    padding-bottom: 20px;
    padding: 20px;

}
.salonimage img{
    width: 70px;
    height: 90px;
}
.salondetails{
    padding-left: 5px;
    margin-top: 10px;
    width: 40vw;
    height: 40px;
    text-align: left;
    line-height: 1;
}
.salondetails i{
    font-size: 10px;
}
.salondetails .btn{
    font-size: 10px;
    padding: 10px 40px;
}
.favoritesalon{
    text-align: right;
    font-size: 14px; 
    margin-top:0;
}