{% extends 'base.html' %}
{% load static %}
    {% block header %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        .container{
            margin-top: 30%;
        }
        textarea{
            width: 200px;
            height: 100px;
            margin: 10px 0;
        }
        .btn{
            width: 12rem;
            padding: 15px 20px;
        }
    </style>
    {% endblock %}
    {% block body%}
    {% include 'topnav.html' %}
    {% include 'bottomnav.html' %}
    <div class="container">
        <form action="" method="">
            <div>
                <h1>Rate the service</h1>
                <h3>How do you rate us?</h3>
            </div>
            <div>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <h3>what you think of the salon?</h3>
    
            </div>
            <div>
                <textarea name="" id=""></textarea>
                <button class="btn">Submit your rating</button>
            </div>
        </form>        
    </div>
    {% endblock%}
    <!-- jQuery -->
    {% block scriptbottom %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    {% endblock %}