{% extends 'base.html' %}
{% load static %}
{% block body %}
    <ul class="navbar bottomnavbar">
        <li class="nav-item"><a href="salondashboard"><i class="fa-solid fa-house"></i>Home</a></li>
        <li class="nav-item"><a href="salonbookings"><i class="fa-solid fa-book"></i>Bookings</a></li>
        <li class="nav-item"><a href="salonprofile"><i class="fa-solid fa-user"></i>Profile</a></li>
    </ul>
<section>
    {% comment %} {% if salon %} {% endcomment %}
    <div class="container profile_container">
        <form action="" methods="GET">
            <img src="static/assets/bg4.jpg" alt="">
            {% comment %} <input type="" name="" > {% endcomment %}
        </form>
        <div>
            <h4>Salon Name:</h4>
            <h3>{{salon.stylistid.username}}JJ salon</h3>
        </div>

        <div>
            <h4>Name:</h4>
            <h3>{{user.stylistid.username}}Adeyoju Joel</h3>
        </div>
        
        <div>
            <h4>Phone Number:</h4>
            <h3>{{user.stylistid.contact}}0508855102</h3>
        </div>
        <div>
            <h4>E-mail:</h4>
            <h3>{{user.stylistid.email}}adeyojuibukunoluwa1@gmail.com</h3>
        </div>
        <div>
            <h4>D.O.B:</h4>
            <h3>{{user.stylistid.username}}26-06-2001</h3>
        </div>
        <h5> No User profile For User as at Now the System still under going some Testings</h5>
    </div>
    {% comment %} {% else %} {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
</section>
{% endblock  %}