{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock  %}
{% block title %}Register Salon{% endblock  %}
{% block body %}
<section> 
            
    <div class="container">

        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-header">
                <h2>Welcome.</h2>
                <h3>Please enter your Salon details to get started</h3>
                {% for message in messages %}
                <h6 style="color: #DE1E2B;">{{ message }}</h6>
                {% endfor %}
            </div>
            <div style="width:60vw; align-item:none; text-align:left;">
                {{ form }}
            </div>
            <div class="form-btn">
                <button class="btn register" type="submit">Submit</button>
            </div>
        </form>
        {% for message in messages %}
        {% if message.tags == 'success' %}

        {% comment %} <div class="alert alert-sucess text-center mt-5" role="alert">
            {{ messages }}
            <a href="salondashboard"></a>
        </div> {% endcomment %}
        {% endif %}
        {% endfor %}
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var message = {{ message }};
        swal("Perfect !", m, "success")
    </script>
</section>
{% endblock  %}