
<ul class="navbar topnavbar">
    
        <div class="dropdown">
            <button class="dropbtn" style="background: 	#F0FFF0;"><i class="fa-solid fa-ellipsis-vertical" style="color: 	 #696969;"></i></button>
            <div class="dropdown-content">
              <a href="salon">register your salon</a>
              {% comment %} <a href="">App guide</a> {% endcomment %}
              <a href="logout">logout</a>
            </div>
        </div>
    <li class="nav-item"><a href="search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
    <li class="nav-item"><a href="nofity"><i class="fa-solid fa-bell"></i></a></li>
</ul>